


//ESTA HOJA DE ESTILOS CONFIGURA TODOS LOS EFECTOS Y ANIMACIONES DE TODAS LAS PAGINAS DEL SITIO. EJ: BOTONERAS, LINEAS, ILUMINACIONES BACKGROUND Y DEMÁS.


/*--------------------------------------    PÁGINA "HOME" TARJETAS CATEGORIAS   ------------------------------------------------------------*/

.productCat:hover{
    transition: width 0.5s;
    width: 210px;
    -webkit-box-shadow: 0px 1px 28px 16px rgb(203, 178, 223);
    -moz-box-shadow: 0px 1px 28px 16px rgb(203, 178, 223);
    box-shadow: 0px 1px 28px 16px rgb(203, 178, 223);
}

.textCard:hover {    
    font-size: 1.6em; //habria que buscar la forma de que se haga automaticamente por medio de una función
    text-align: center;
    font-weight: bolder;
    text-decoration: none;    
}

/* -----------           MEDIA QUERIES DE LOS HOVERS      --------------*/

@media (min-width:400px) and (max-width:600px){
    .productCat:hover{        
        width: 210px;        
    }
    .textCard:hover {
        font-size: 1.75em;
    }
}

@media (min-width:601px) and (max-width:799px){
    .productCat:hover{
        width: 220px;        
    }
    .textCard:hover {
        font-size: 1.9em;
    }
}

@media (min-width:800px) and (max-width:1023px){
    .productCat:hover{
        width: 230px;        
    }
    .textCard:hover {
        font-size: 2em;
    }
}
@media (min-width:1024px) {
    .productCat:hover{
        width: 240px;
    }
    .textCard:hover {
        font-size: 2.1em;
    }
}




/*------------------------      ANCHO LINEAS DE LOS TÍTULOS DE CADA CATEGORIA DE PRODUCTOS      --------------------------------*/

.title_category::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 7em;
    height: 5px;
    background: #C98A3B;
    position: absolute;
    bottom: 26%;
    margin: auto;
}

.title_mates::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 5em;
    height: 5px;
    background: #C98A3B;
    position: absolute;    
    bottom: 21%;
    margin: auto;
}

.title_hilos::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 4em;
    height: 5px;
    background: #C98A3B;
    position: absolute;
    /*left: 35.5%;*/
    bottom: 21%;
    margin: auto;
}

.title_ceramica::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 6em;
    height: 5px;
    background: #C98A3B;
    position: absolute;    
    bottom: 21%;
    margin: auto;
}

.title_cosme::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 11em;
    height: 5px;
    background: #C98A3B;
    position: absolute;
    /*left: 35.5%;*/
    bottom: 21%;
    margin: auto;
}

.title_nosotros::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 5em;
    height: 5px;
    background: #C98A3B;
    position: absolute;
    /*left: 35.5%;*/
    bottom: 10%;
    margin: auto;
}


$neon_light_shadow: neonAnim 2s alternate-reverse infinite;

@keyframes neonAnim {
    from {
        text-shadow:
            0 0 30px rgba(231, 196, 93, .7),
            0 0 60px rgba(231, 196, 93, .7),
            0 0 120px rgba(231, 196, 93, .7);
    }

    to {
        text-shadow:
            0 0 25px rgba(231, 196, 93, .7),
            0 0 40px rgba(231, 196, 93, .7),
            0 0 80px rgba(231, 196, 93, .7);
    }
}

div.description {
    backdrop-filter: blur(5px) saturate(181%);
    -webkit-backdrop-filter: blur(5px) saturate(181%);
    background-color: rgba(103, 85, 109, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

/*-------------------------        EFECTO DEL BOTON "AGREGAR AL CARRO"         -------------------------*/

.amount:hover:not(:disabled) {
    background: #fffead;    
}

.more:hover:not(:disabled) {
    background: #5ee45e;
    color: whitesmoke;
}

.less:hover:not(:disabled) {
    background: rgb(255, 49, 49);
    color: whitesmoke;
}

.amount_items:disabled {
    cursor: auto;
    color: #83ff83;
}

.add_cart:hover:not(:disabled) {
    background: #645993;
    color: whitesmoke;
    box-shadow: 0 0 40px rgb(231, 196, 93);
    transition: all 0.2s ease;
}

.add_cart:disabled {
    cursor: auto;
    color: #00b800;
}

/*-------------------------------------------      PÁGINA "CONTACTO"      ------------------------------------------------------------*/

.style_input:hover:not(:disabled) {
    background: #f5f0f0;
}

.style_textarea:hover:not(:disabled) {
    background: #f5f0f0;
}

.button_submit:hover:not(:disabled) {
    background: #645993;
    color: whitesmoke;
    box-shadow: 0 0 40px rgb(231, 196, 93);
    transition: all 0.2s ease;
}