@font-face {
    font-family: "amsterdam-two";
    src: url("./../fonts/amsterdam_two.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "spirqual";
    src: url("./../fonts/spirequalLight.TTF");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Josh";
    src: url("./../fonts/Jost-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Adan_sans";
    src: url("/assets/fonts/adarsh_sans_regular.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');