.imageProduct {
    border-color: #c1b38a;
    border-style: ridge;
    border-width: 4px;
    border-radius: 20px;
    border-color: #f7d786;
}

.icon_instagram{
    width: 100%;
    /*float: right;*/
}