html {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100%;
    background-image: url("../../../assets/img/manchas.jpg");        
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    /*hasta aca le dimos cuestiones de forma a la imagen que se usa de fondo en la pagina*/
    }

.body_style {
    font-family: "Public Sans", sans-serif;
    min-height: 100%;
    // background-image: url("../../../assets/img/hoja1.jpg");
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-color: black;*/
    /*hasta aca le dimos cuestiones de forma a la imagen que se usa de fondo en la pagina*/
}


/*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/

.container_nav{
    border-style: solid !important;
    border-width: 0.4em !important;
    border-color:#ceccbf !important;
    border-radius: 2em !important;
    background-color: #ecd3bf!important;
}

.nav_prop{
    width: 40%!important;
    margin: auto !important;    
}

.color li a{
    color: black!important;
}


.reference {
    font-size: $size_xs_text_category;
    font-family: "Josh";
    text-align: center;
    color: $main_reference_category;  
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /*padding-top: 1em;*/
    /*padding-bottom: 0.5em;*/
}


/* --------------------------------           MEDIA QUERIES            ----------------------------------*/





@media (min-width:400px) and (max-width:600px) {

    /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
    .reference {
        font-size: $size_s_text_category;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

@media (min-width:601px) and (max-width:799px) {

    /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
    .reference {
        font-size: $size_m_text_category;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

}

@media (min-width:800px) and (max-width:1023px) {

    /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
    .reference {
        font-size: $size_l_text_category;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }    
}

@media (min-width:1024px) {

    /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
    .reference {
        font-size: $size_xl_text_category;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}