.header_style_default {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #414060;
    opacity: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;

    .logo_container {
        width: 30%;
    }

    /* ---------- ESTO ES EL ESTILO DE LA LEYENDA "PAUSA. TIENDITA DE COSAS" ----------*/
    .brand_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: auto;

        #pausa {
            font-family: $font_family_text_pausa;
            font-size: $size_text_xs_pausa;
            color: $header_color_text_pausa;
            /*10rem * 10px= 100px*/
            font-weight: $font_weigth_text_pausa;
            margin: $margin_text_pausa;
            animation: $neon_light_shadow;

            #tiendita {
                width: 100%;
                margin: 0.75% 0% 0% 0%;
                color: $header_color_text_tiendita;
                /*position: relative;*/
                font-family: spirqual;
                font-size: $size_text_xs_tiendita;
                font-weight: bold;
                word-spacing: 0.2em;
                letter-spacing: 0.35em;
            }
        }

        .margenDerecho {
            display: none;
        }
    }
}

    /* --------------------------------           MEDIA QUERIES            ----------------------------------*/


    @media (min-width:400px) and (max-width:600px) {
        #pausa {
            /*min-height: min-content;*/
            width: inherit;
            font-size: $size_text_s_pausa;
            height: 40px;

        }

        #tiendita {
            font-size: $size_text_s_tiendita;
        }
        
    }

    /*----------------------------*/

    @media (min-width:601x) and (max-width:799px) {
        #pausa {
            /*min-height: min-content;*/
            width: inherit;
            font-size: $size_text_m_pausa;
            height: 40px;
        }

        #tiendita {
            font-size: $size_text_m_tiendita;
        }

        .margenDerecho {
            display: inline;
        }
    }

    /*----------------------------------*/

    @media (min-width:800px) and (max-width:1023px) {
        #pausa {
            /*min-height: min-content;*/
            width: inherit;
            font-size: $size_text_l_pausa;
            height: 40px;
        }

        #tiendita {
            font-size: $size_text_l_tiendita;
        }

        .margenDerecho {
            display: inline;
        }
    }

    /*--------------------------------*/

    @media (min-width:1024px) {
        #pausa {
            /*min-height: min-content;*/
            width: inherit;
            font-size: $size_text_xl_pausa;
            height: 40px;
        }

        #tiendita {
            font-size: $size_text_xl_tiendita;
        }

        .margenDerecho {
            display: inline;
        }
    }
