@charset "UTF-8";
/*-------------- HEADER  -----------*/
/*TEXTO "PAUSA"*/
/*DEFAULT*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
/*TEXTO "TIENDITA"*/
/*DEFAULT*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
/*-------------- NAVBAR  -----------*/
/*-----------------------------      CONFIGURACIÓN TEXTO CATEGORIA MATES/CERAMICA/HILOS/COMESTICA     -----------------------------*/
/*DEFAULT*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
/*-------------- CONFIGURACION DE LAS TARJETAS  -----------*/
/*-------------- ANCHO DE CADA TARJETA --------------*/
/*0 a 799px*/
/*800px -> */
/*CONFIG TEXTO TITULO TARJETA PRODUCTOS*/
/*DEFAULT*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
/*CONFIG TEXTO DESCRIPCION TARJETA PRODUCTOS*/
/*DEFAULT*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
/*CONFIG ANCHO CONTENEDOR IMAGEN TARJETA PRODUCTOS*/
/*-------------- CONFIGURACION DEl FOOTER  -----------*/
/*POLÍTICA DE PRIVACIDAD Y TERMINOS Y CONDICIONES*/
/*CONTACTO*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
/*400-600PX*/
/*601-799PX*/
/*800-1023PX*/
/*1024PX->*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
.RESET {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-size: 70%; }

@font-face {
  font-family: "amsterdam-two";
  src: url("./../fonts/amsterdam_two.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "spirqual";
  src: url("./../fonts/spirequalLight.TTF");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Josh";
  src: url("./../fonts/Jost-Light.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Adan_sans";
  src: url("/assets/fonts/adarsh_sans_regular.otf"); }

.imageProduct {
  border-color: #c1b38a;
  border-style: ridge;
  border-width: 4px;
  border-radius: 20px;
  border-color: #f7d786; }

.icon_instagram {
  width: 100%;
  /*float: right;*/ }

@keyframes neonAnim {
  from {
    text-shadow: 0 0 30px rgba(231, 196, 93, 0.7), 0 0 60px rgba(231, 196, 93, 0.7), 0 0 120px rgba(231, 196, 93, 0.7); }
  to {
    text-shadow: 0 0 25px rgba(231, 196, 93, 0.7), 0 0 40px rgba(231, 196, 93, 0.7), 0 0 80px rgba(231, 196, 93, 0.7); } }

div.description {
  backdrop-filter: blur(5px) saturate(181%);
  -webkit-backdrop-filter: blur(5px) saturate(181%);
  background-color: rgba(103, 85, 109, 0.61);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3); }

/*-------------------------        EFECTO DEL BOTON "AGREGAR AL CARRO"         -------------------------*/
.add_cart:hover:not(:disabled) {
  background: #00b800;
  color: white; }

.add_cart:disabled {
  cursor: auto;
  color: #00b800; }

.header_style_default {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #414060;
  opacity: 98%;
  padding: 2% 4% 2% 3%; }

.logo_container {
  width: 30%; }
  .logo_container a img {
    width: 100%;
    height: 100%; }

/* ---------- ESTO ES EL ESTILO DE LA LEYENDA "PAUSA. TIENDITA DE COSAS" ----------*/
.brand_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  /*se usa en flexbox*/
  gap: 0.6em;
  margin: auto; }
  .brand_container #pausa {
    font-family: "amsterdam-two";
    font-size: 1.6em;
    color: #ebd595;
    /*10rem * 10px= 100px*/
    font-weight: bold;
    margin: auto;
    animation: neonAnim 2s alternate-reverse infinite; }
  .brand_container #tiendita {
    margin: 0.75% 0 0 0;
    color: lightgray;
    /*position: relative;*/
    font-family: spirqual;
    /*font-size: $size_text_xs_tiendita;*/
    font-weight: bold;
    word-spacing: 0.2em;
    letter-spacing: 0.35em; }

.margenDerecho {
  display: none; }

/* --------------------------------           MEDIA QUERIES            ----------------------------------*/
@media (min-width: 400px) and (max-width: 600px) {
  .logo_container {
    width: 130px; }
    .logo_container a img {
      width: 100%;
      height: 100%; }
  .header_style_default .brand_container {
    margin: 0; }
  .header_style_default .brand_container #pausa {
    /*min-height: min-content;*/
    width: inherit;
    font-size: 2.4em;
    margin-top: 0.4em; }
  .header_style_default .brand_container #tiendita {
    font-size: 2em;
    word-spacing: 0.1em;
    letter-spacing: 0.20em;
    margin: 0 auto; }
  .header_style_default .brand_container .margenDerecho {
    display: none; } }

/*----------------------------*/
@media (min-width: 601px) and (max-width: 799px) {
  .logo_container {
    width: 160px; }
    .logo_container a img {
      width: 100%;
      height: 100%; }
  .header_style_default .brand_container {
    gap: 1.3em; }
  .header_style_default .brand_container #pausa {
    /*min-height: min-content;*/
    width: inherit;
    font-size: 2.6em; }
  .header_style_default .brand_container #tiendita {
    font-size: 2.1em;
    word-spacing: 0.2em;
    letter-spacing: 0.20em;
    margin: 0 auto; }
  .margenDerecho {
    display: flex; }
    .margenDerecho ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 15%;
      align-items: center;
      justify-content: space-around; } }

/*----------------------------------*/
@media (min-width: 800px) and (max-width: 1023px) {
  .logo_container {
    width: 190px; }
    .logo_container a img {
      width: 100%;
      height: 100%; }
  .header_style_default .brand_container {
    margin: 0;
    gap: 2em; }
  .header_style_default .brand_container #pausa {
    /*min-height: min-content;*/
    width: inherit;
    font-size: 2.5em; }
  .header_style_default .brand_container #tiendita {
    font-size: 2em;
    margin: 0 auto; }
  .margenDerecho {
    display: flex; }
    .margenDerecho ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 15%;
      align-items: center;
      justify-content: space-around; } }

/*--------------------------------*/
@media (min-width: 1024px) {
  .logo_container {
    width: 200px; }
    .logo_container a img {
      width: 100%;
      height: 100%; }
  .header_style_default .brand_container {
    margin: 0;
    gap: 2.5em; }
  .header_style_default .brand_container #pausa {
    /*min-height: min-content;*/
    width: inherit;
    font-size: 2.6em; }
  .header_style_default .brand_container #tiendita {
    font-size: 2.1em;
    margin: 0 auto; }
  .margenDerecho {
    display: flex; }
    .margenDerecho ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 15%;
      align-items: center;
      justify-content: space-around; } }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  min-height: 100%;
  background-image: url("../../../assets/img/manchas.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  /*hasta aca le dimos cuestiones de forma a la imagen que se usa de fondo en la pagina*/ }

.body_style {
  font-family: "Public Sans", sans-serif;
  min-height: 100%;
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-color: black;*/
  /*hasta aca le dimos cuestiones de forma a la imagen que se usa de fondo en la pagina*/ }

/*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
.reference {
  font-size: 3.3em;
  font-family: "Josh";
  text-align: center;
  color: #914ac7;
  font-weight: bold;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /*padding-top: 1em;*/
  /*padding-bottom: 0.5em;*/ }

/* --------------------------------           MEDIA QUERIES            ----------------------------------*/
@media (min-width: 400px) and (max-width: 600px) {
  /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
  .reference {
    font-size: 3.75em;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; } }

@media (min-width: 601px) and (max-width: 799px) {
  /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
  .reference {
    font-size: 4.2em;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; } }

@media (min-width: 800px) and (max-width: 1023px) {
  /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
  .reference {
    font-size: 4.7em;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; } }

@media (min-width: 1024px) {
  /*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
  .reference {
    font-size: 5em;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; } }

/*-------------------------------      CONTENEDOR DE TODAS LAS TARJETAS DE PRODUCTOS EN MOBILE FIRST      -------------------------*/
.galery_products_container {
  display: flex;
  flex-direction: column; }

/*-----------------    TARJETAS DE PRODUCTOS, CON GRID    -----------------*/
.cards_products_container {
  display: grid;
  grid-template-areas: "description " "image_product";
  width: 80%;
  grid-template-columns: repeat 1, min-content;
  /*grid-template-rows: repeat (auto, 1fr);*/
  grid-auto-rows: min-content;
  justify-content: space-evenly;
  grid-auto-columns: auto;
  margin: 12.5% auto;
  gap: 3em; }

/*----------- COLUMNA TEXTO -------------------*/
div.description {
  grid-area: description;
  /*display: flex;*/
  flex-direction: column;
  width: 100%;
  text-align: justify;
  padding: 5%; }
  div.description .description,
  div.description h1 {
    color: white;
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    margin: 0; }
  div.description .description,
  div.description p {
    color: white;
    font-size: 1.4em;
    text-align: justify;
    margin-top: 8%; }
  div.description .buttons_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*margin-top: 10%*/ }
    div.description .buttons_container ul {
      display: inline-block;
      margin: 10% 0;
      padding: 0; }

/*----------- COLUMNA IMAGEN -------------------*/
div.image_product {
  grid-area: image_product;
  display: flex;
  justify-content: center;
  width: 100%; }

/* --------------------------------           MEDIA QUERIES            ----------------------------------*/
@media (min-width: 400px) and (max-width: 600px) {
  .cards_products_container {
    width: 80%; }
  .cards_products_container div.description h1 {
    font-size: 2.8em; }
  .cards_products_container div.description p {
    font-size: 1.7em; } }

/*-----------------------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 799px) {
  .cards_products_container {
    width: 80%;
    /*margin: 0 7.5%;*/ }
  .cards_products_container div.description h1 {
    font-size: 3.3em; }
  .cards_products_container div.description p {
    font-size: 1.8em; } }

/*-------------------------------------------------------------------------*/
@media (min-width: 800px) and (max-width: 1023px) {
  .galery_products_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .cards_products_container {
    display: grid;
    grid-template-areas: "description image_product";
    width: 90%;
    grid-template-columns: repeat 2, 1fr;
    grid-auto-rows: 1fr;
    justify-content: space-evenly;
    gap: 10% 0;
    margin: 5%; }
    .cards_products_container:nth-child(even) div.description {
      grid-column: 2;
      /*margin-left: 4em;*/ }
    .cards_products_container:nth-child(even) div.image_product {
      grid-column: 1;
      grid-row: 1; }
    .cards_products_container div.description {
      grid-area: description;
      display: flex;
      /*flex-direction: column;*/
      width: 90%;
      text-align: justify;
      justify-content: space-around;
      /*margin-left: 5%*/
      row-gap: 2%; }
      .cards_products_container div.description .description,
      .cards_products_container div.description h1 {
        color: white;
        font-size: 3.7em;
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
        width: max-content; }
      .cards_products_container div.description .description,
      .cards_products_container div.description p {
        color: white;
        font-size: 1.9em;
        text-align: justify;
        margin: 0; }
      .cards_products_container div.description .buttons_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around; }
        .cards_products_container div.description .buttons_container ul {
          display: inline-block;
          margin: 5% 0;
          padding: 0; }
    .cards_products_container div.image_product {
      grid-area: image_product;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 0 0 5%; } }

/*--------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  .galery_products_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .cards_products_container {
    display: grid;
    grid-template-areas: "description image_product";
    width: 90%;
    grid-template-columns: repeat 2, 1fr;
    grid-auto-rows: 1fr;
    justify-content: space-evenly;
    gap: 10% 0;
    margin: 5%; }
    .cards_products_container:nth-child(even) div.description {
      grid-column: 2;
      /*margin-left: 4em;*/ }
    .cards_products_container:nth-child(even) div.image_product {
      grid-column: 1;
      grid-row: 1; }
    .cards_products_container div.description {
      grid-area: description;
      display: flex;
      flex-direction: column;
      width: 90%;
      text-align: justify;
      justify-content: space-evenly;
      /*margin-left: 5%*/
      row-gap: 2%; }
      .cards_products_container div.description .description,
      .cards_products_container div.description h1 {
        color: white;
        font-size: 4.1em;
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
        width: max-content; }
      .cards_products_container div.description .description,
      .cards_products_container div.description p {
        color: white;
        font-size: 2.1em;
        text-align: justify;
        margin: 0; }
      .cards_products_container div.description .buttons_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 75%;
        margin: 0 auto; }
        .cards_products_container div.description .buttons_container ul {
          display: inline-block;
          margin: 5% 0;
          padding: 0; }
    .cards_products_container div.image_product {
      grid-area: image_product;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 0 0 5%; } }

.social_bar {
  position: fixed;
  left: 88%;
  top: 58%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*z-index: 100;*/
  /*float: right;*/ }

@media (min-width: 400px) and (max-width: 600px) {
  .social_bar {
    position: fixed;
    left: 91%;
    top: 58%; } }

@media (min-width: 601px) and (max-width: 799px) {
  .social_bar {
    position: fixed;
    left: 93%;
    top: 58%; } }

@media (min-width: 800px) and (max-width: 1023px) {
  .social_bar {
    position: fixed;
    left: 95.5%;
    top: 58%; } }

@media (min-width: 1024px) {
  .social_bar {
    position: fixed;
    left: 96%;
    top: 58%; } }

.pie {
  height: 100%;
  background-color: #414060;
  opacity: 85%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 3.5%;
  padding-right: 3.5%; }

.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4% 2% 4%; }

.containerul {
  margin-top: 1.5%;
  margin-bottom: 1.5%; }

.pie ul li {
  list-style: none;
  margin-top: 8%;
  font-family: 'Jost'; }

.pie a {
  color: white;
  text-decoration: none;
  font-family: "Josh";
  font-size: 1.8em;
  font-style: normal;
  font-weight: bold; }

.pie ul li a {
  text-decoration: none;
  color: white;
  /*font-family: "amsterdam-two", regular;*/
  font-size: 1.6em;
  font-style: normal; }

.pie a:hover {
  color: yellow;
  transition: all .3s; }

.contact {
  /*width: 8.5%;*/ }

.contact > ul {
  display: flex;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 400px) and (max-width: 600px) {
  .pie ul li a {
    font-size: 1.75em; }
  .pie a {
    font-size: 2.1em; } }

@media (min-width: 601px) and (max-width: 799px) {
  .pie ul li a {
    font-size: 1.85em; }
  .pie a {
    font-size: 2.2em; } }

@media (min-width: 800px) and (max-width: 1023px) {
  .pie ul li a {
    font-size: 1.85em; }
  .pie a {
    font-size: 2.25em; } }

@media (min-width: 1024px) {
  .pie ul li a {
    font-size: 2.05em; }
  .pie a {
    font-size: 2.5em; } }

/*---------- BOTONERA DE ELEGIR CANTIDAD DE ITEMS --------*/
.amount_items {
  font-size: 1rem;
  text-align: center;
  border-radius: 0.4em; }

/*------ BOTON DE AGREGAR AL CARRO ---------*/
.add_cart {
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #eee;
  border: none;
  padding: 0.25rem;
  width: 10em;
  border-radius: 1rem;
  color: #f27413;
  cursor: pointer; }

/* --------------------------------           MEDIA QUERIES            ----------------------------------*/
@media (min-width: 400px) and (max-width: 600px) {
  .amount_items {
    font-size: 1.4rem;
    text-align: center; }
  .add_cart {
    font-size: 1.5rem; } }

/*------------------------------------------------------*/
@media (min-width: 601px) and (max-width: 799px) {
  .amount_items {
    font-size: 1.55rem;
    text-align: center; }
  .add_cart {
    font-size: 1.65rem; } }

/*------------------------------------------------------*/
@media (min-width: 800px) and (max-width: 1023px) {
  .amount_items {
    font-size: 1.7rem;
    text-align: center; }
  .add_cart {
    font-size: 1.75em; } }

/*------------------------------------------------------*/
@media (min-width: 1024px) {
  .amount_items {
    font-size: 1.85em;
    text-align: center; }
  .add_cart {
    font-size: 1.9em; } }
