* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "amsterdam-two";
    src: url("./../fonts/amsterdam_two.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "spirqual";
    src: url("./../fonts/spirequalLight.TTF");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Josh";
    src: url("./../fonts/Jost-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Adan_sans";
    src: url("/assets/fonts/adarsh_sans_regular.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


html {
    height: 100%;
    font-size: 62.5%;
    font-family: "Josh";
}

body {
    font-family: "Public Sans", sans-serif;
    min-height: 100%;
    background-image: url("../img/valley-night.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    /*hasta aca le dimos cuestiones de forma a la imagen que se usa de fondo en la pagina*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 70%;
}

/*------------------------------------------------------------------------------------------------------*/

@media (min-width: 1200px) {


    /* ---------- ESTO ES EL ESTILO DEL HEADER EN GENERAL ----------*/
    header {
        display: flex;
        /*de esta manera muestro las opciones del menú uno al lado del otro*/
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: #414060;
        opacity: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* ---------- ESTO ES EL ESTILO DEL LOGO EN PARTICULAR ----------*/
    .brandBox {
        width: 10%;
    }

    .brandBox>a>img {
        max-width: 100%;
        display: inline;
        /*max-height: 100%;        */
        object-fit: contain;
    }

    /* ---------- ESTO ES EL ESTILO DE LA LEYENDA "PAUSA. TIENDITA DE COSAS" ----------*/
    .leyendaCentral {
        text-align: center;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    #pausa {
        font-family: "amsterdam-two";
        font-size: 2.5rem;
        /*10rem * 10px= 100px*/
        font-weight: bold;
        margin: auto;
        /*color: #c1b38a;*/
        width: 100%;
        animation: neonAnim 2s alternate-reverse infinite;
        color: #ebd595;
    }

    @keyframes neonAnim {
        from {
            text-shadow:
                0 0 30px rgba(231, 196, 93, .7),
                0 0 60px rgba(231, 196, 93, .7),
                0 0 120px rgba(231, 196, 93, .7);
        }

        to {
            text-shadow:
                0 0 25px rgba(231, 196, 93, .7),
                0 0 40px rgba(231, 196, 93, .7),
                0 0 80px rgba(231, 196, 93, .7);
        }
    }

    #tiendita {
        width: 40%;
        margin: 0.75% 0% 0% 0%;
        color: lightgray;
        /*position: relative;*/
        font-family: spirqual;
        font-size: 1.8rem;
        font-weight: bold;
        word-spacing: 0.2em;
        letter-spacing: 0.40em;
    }


    /*------------------------        ESTO ES EL ICONO DEL CARRITO Y DEL USUARIO         -----------------------*/
    #imgCuenta {
        width: 43.5px;
        /*redimensiono el icono del usuario para que quede visualmente igual al del carrito*/
        height: 43.5px;
    }

    .margenDerecho {
        width: 10%;
        margin-right: 1.5%;
        /*display: flex;*/
        /*justify-content: space-between*/
    }

    .margenDerecho ul {
        /*ESTO ES PARA DAR ESTILO A LOS BOTONES DEL CARRITO Y DEL USUARIO*/
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    /*------------       ACA EMPIEZO A DARLE FORMA AL MENU "NAV" como menu diferenciado dentro del propio HEADER  -----------------*/

    .topnav {
        background-color: #C98A3B;
        overflow: hidden;
        opacity: 90%;
        width: 28rem;
        margin: auto;
        height: 4.5em;
        border-radius: 0px 0px 45px 45px;
        display: flex;
        justify-content: center;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        font-weight: bold;
        font-family: "Josh";
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav .icon {
        display: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .topnav a:hover,
    .dropdown:hover .dropbtn {
        background-color: #414060;
        color: #F4C3B4;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/*------------------------------------    ACA EMPIEZO A DARLE FORMA AL MAIN     ---------------------------------*/

/* -----------------    CONFIGURACIÓN DEL TEXTO "CATEGORIAS DE PRODUCTOS"    ---------------- */
.textCategory {
    margin: auto;
    padding-top: 2.5%;
    padding-bottom: 3%;
    width: 100%;
    text-align: center;
    font-family: "Josh";
    color: white;
    position: relative;
}

.textCategory::after {
    /*acá hago la línea debajo del texto*/
    content: "";
    border-radius: 12px;
    width: 25%;
    height: 5px;
    background: #C98A3B;
    position: absolute;
    left: 37%;
    bottom: 31%;
    /*margin: 2% auto;*/
}

#main {
    min-height: calc(100vh);
    justify-content: center;
    align-content: center;
}

.reference {
    font-size: 5rem;
    font-family: "Josh";
    text-align: center;
    margin-top: 1em;
    color: white;
}

.styleContainer {
    margin-left: 10rem;
}

.layoutBuy {
    display: flex;
    justify-content: center;
    align-items: center;
}


.stile {
    width: 100%;
    margin: 3rem 0;    
        /*#03afff; 03afff cc0234*/
}

.stileBackground1 {
    background-image: url("../img/blobL.svg");
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    opacity: 80%;
}

.stileBackground2 {
    background-image: url("../img/blobR.svg");
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
    opacity: 80%;
}

.h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}


.categoria {
    font-size: 8rem;
    justify-content: center;
    align-items: center;
}

.grid_item {
    font-size: 2rem;

}

.content {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

.img {
    width: 100%;
    height: 100%;
    /*grid-column: 2;*/
    object-fit: cover;
}

.sizep {
    width: 60%;
    text-align: center;
    color: white;
}

/*------------------------------------    ACA EMPIEZO A DARLE FORMA AL SOCIAL BAR     ---------------------------------*/
.socialBar {
    position: fixed;
    right: 0;
    top: 63%;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

/*------------------------------------    ACA EMPIEZO A DARLE FORMA AL FOOTER     ---------------------------------*/

.pie {
    height: 100%;
    background-color: #2C2918;
    opacity: 85%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4% 2% 4%;
}

.containerul {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.pie ul li {
    list-style: none;
    margin-top: 8%;
    font-family: 'Jost';
}

.pie a {
    color: white;
    text-decoration: none;
    font-family: "Josh";
    font-size: 1.9rem;
    font-style: normal;
    font-weight: bold;
}

.pie ul li a {
    text-decoration: none;
    color: white;
    /*font-family: "amsterdam-two", regular;*/
    font-size: 1.6rem;
    font-style: normal;
}

.pie a:hover {

    color: yellow;
    transition: all .3s;
}

.contact {
    width: 8.5%;

}

.contact>ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 481px) and (max-width 768px) {
    .pie a {
        color: white;
        text-decoration: none;
        font-family: "Josh";
        font-size: 3.5rem;
        font-style: normal;
        font-weight: bold;
    }

    .pie ul li a {
        text-decoration: none;
        color: white;
        /*font-family: "amsterdam-two", regular;*/
        font-size: 1.9rem;
        font-style: normal;
    }
}

@media (min-width: 769px) and (max-width 1200px) {
    .pie a {
        color: white;
        text-decoration: none;
        font-family: "Josh";
        font-size: 2rem;
        font-style: normal;
        font-weight: bold;
    }

    .pie ul li a {
        text-decoration: none;
        color: white;
        /*font-family: "amsterdam-two", regular;*/
        font-size: 1.6rem;
        font-style: normal;
    }
}

@media (min-width: 1201px) {
    .pie a {
        color: white;
        text-decoration: none;
        font-family: "Josh";
        font-size: 2.1rem;
        font-style: normal;
        font-weight: bold;
    }

    .pie ul li a {
        text-decoration: none;
        color: white;
        /*font-family: "amsterdam-two", regular;*/
        font-size: 1.6rem;
        font-style: normal;
    }
}