.cuerpo{
    width: 75%;
    margin: 4em auto 10em auto;
}

.title_nosotros {
    font-size: $size_xs_title_about;
    font-family: "Josh";
    color: $main_reference_category;
    text-align: center;
    margin: 1em 0 !important; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative; 
}

.text{
    font-size: $size_xs_text;
    font-family: "Josh";
    text-align: justify;
    color: black;
    font-weight: bold;       
} 

/* --------------------------------           MEDIA QUERIES         ----------------------------------*/

@media (min-width:400px) and (max-width:600px) {
    .title_nosotros{
        font-size: $size_s_title_about;
    }    
    .text{
        font-size: $size_s_text;
    }
}

@media (min-width:601px) and (max-width:799px) {
    .title_nosotros{
        font-size: $size_m_title_about;
    }

    .text{
        font-size: $size_m_text;
    }
}

@media (min-width:800px) and (max-width:1023px) {
    .title_nosotros{
        font-size: $size_l_title_about;
    }
    .text{
        font-size: $size_l_text;
    }
}

@media (min-width:1024px) {
    .title_nosotros{
        font-size: $size_xl_title_about;
    }
    .text{
        font-size: $size_xl_text;
    }
}