
/*-------------- HEADER  -----------*/
$header_background_color: #414060;
$header_text_pausa: #ebd595;
$header_text_tiendita: lightgray;

/*-------------- NAVBAR  -----------*/
$navbar_background_color: #C98A3B;

/*-----------------------------       CONFIGURACIÓN TEXTO CATEGORIA       -----------------------------*/
$main_reference_category: white;
$size_text_category: 3.2rem;
$size_xs_text_category: 3.2rem;
$size_s_text_category: 3.6rem;
$size_m_text_category: 6.8em;
$size_l_text_category: 7.5rem;


/*-------------- CONFIGURACION DE LAS TARJETAS  -----------*/


/*CONFIG TEXTO TITULO TARJETA PRODUCTOS*/
$color_title_product: lightgray;
$size_xs_title_product: 2.3em;
$style_title_product: center;
$weight_title_product: bold;

$size_s_title_product: 2.8em; /*400-600PX*/
$size_m_title_product: 3.3em; /*601-799PX*/
$size_l_title_product: 3.7em; /*800-1023PX*/
$size_xl_title_product: 4.1em; /*1024PX->*/

/*CONFIG TEXTO DESCRIPCION TARJETA PRODUCTOS*/
$color_descript_product: lightgray;
$size_xs_descript_product: 1.4em;
$style_title_product: center;
$weight_title_product: bold;
$style_descript_product: justify;

$size_s_descript_product: 1.7em; /*400-600PX*/
$size_m_descript_product: 1.8em; /*601-799PX*/
$size_l_descript_product: 1.9em; /*800-1023PX*/
$size_xl_descript_product: 2.1em; /*1024PX->*/


/*-------------- CONFIGURACION DEl FOOTER  -----------*/
$footer_background_color: #2C2918;
$footer_size_left: 1.6em; 
$footer_size_right: 1.8em;

$footer_size_s_left: 1.75em;
$footer_size_m_left: 1.85em;
$footer_size_l_left: 1.95em;
$footer_size_l_left: 2.05em;

$footer_size_s_right: 1.95em; 
$footer_size_m_right: 2.05em; 
$footer_size_l_right: 2.15em; 
$footer_size_l_right: 2.25em; 